.DS_Store
_build
*.txt
.vscode/
.ocamlformat
lib/Generated.ml
lib/SimpleInterface.ml
lib/test.ml
lib/Gen2.ml
bin/compare_impls.ml
lib/maps/DirectAddressMap.ml
lib/CodeGeneratorAlt.ml
lib/quviq.ml
lib/hashtables
lib/GenMapPBTAlt.ml