profile = default
version = 0.26.0
margin = 80
break-cases = toplevel
break-before-in = auto
cases-exp-indent = 2
max-indent = 2
exp-grouping = parens
doc-comments = before
wrap-comments = true
dock-collection-brackets = false
